.dialogBanner-container {
  width: 100%;
  height: 45px;
  padding: 0 1rem;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dialogBanner-container[data-alert~="true"] {
  background-color: rgb(206, 14, 14);
}

.dialogBanner-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogBanner-left svg {
  width: 15px;
}

.dialogBanner-left svg path {
  stroke: white;
}

.dialogBanner-container[data-alert~="true"] .dialogBanner-left svg path {
  stroke: #ffffff;
}

.dialogBanner-left p {
  margin-left: 0.5rem;
  color: white;
}

.dialogBanner-container[data-alert~="true"] .dialogBanner-left p {
  color: #ffffff;
}

.dialogBanner-right button {
  padding: 0.25rem 0.5rem;
}

.dialogBanner-right button svg path {
  stroke: white;
}
